.quickappoint {
  /* Example: top to bottom gradient from teal to blue */
  background: linear-gradient(to bottom,
      rgba(157, 241, 234, 0.95),
      rgba(229, 182, 236, 0.95));

  margin: 0%;
  padding: 20px;
  text-align: center;
}

.quickappoint .inputs {
  height: 60px;
  border-radius: 8px;
  font-size: 16px;
  padding: 10px 15px;
}

.quickappoint input[type='submit'] {
  background-color: rgb(9, 84, 107);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  color: white;
}

.quickappoint input[type='submit']:hover {
  background-color: #00bcd4;
  color: #fff;
}